extends ../layouts/_default.pug

block variables
  - const pageTitle = "Gulp сборка 1";
  - const pageDescription = "Gulp сборка для продуктивной верстки";
  - const pageLink = "";

block header
  //- style.
  //-   main {
  //-     padding-bottom: 40px;

  //-     word-wrap: break-word;
  //-   }

  //-   .container ul ul {
  //-     margin-bottom: 20px;
  //-   }

  //-   em {
  //-     color: #636363;
  //-     font-size: 16px;
  //-     font-style: normal;
  //-     letter-spacing: -0.8px;
  //-   }

  //-   .container {
  //-     max-width: 960px;
  //-     width: 100%;
  //-     margin: 0 auto;
  //-     padding: 0 40px;
  //-   }

  //-   .header {
  //-     display: flex;
  //-     align-items: center;
  //-     height: 100vh;
  //-     padding: 100px 0;

  //-     background-color: #eeeeee;
  //-     overflow: hidden;
  //-   }

  //-   .header__container {
  //-     position: relative;

  //-     display: flex;
  //-     align-items: center;
  //-     max-width: 1530px;
  //-   }

  //-   .header__promo {
  //-     position: relative;
  //-     z-index: 1;
  //-     width: 60%;
  //-   }

  //-   .header__title {
  //-     margin: 0;
  //-     font-size: 75px;
  //-     font-weight: 500;
  //-     line-height: 1.1;
  //-     text-shadow: -1px 1px 2px white;
  //-   }

  //-   .header__logo {
  //-     position: absolute;
  //-     right: 0;
  //-     z-index: 0;

  //-     width: 55%;
  //-   }

  //-   .content {
  //-     padding: 60px 0;
  //-   }

  //-   h2 {
  //-     font-size: 60px;
  //-   }

  //-   h3 {
  //-     font-size: 40px;
  //-   }

  //-   code {
  //-     display: block;
  //-     max-width: 100%;
  //-     padding: 20px 30px;
  //-     overflow-x: auto;
  //-     font-size: 18px;

  //-     background-color: #eeeeee;
  //-   }

  //-   b, strong {
  //-     color: #da0414;
  //-     font-weight: 500;
  //-   }

  //-   .button {
  //-     display: block;
  //-     width: 100%;
  //-     padding: 15px;

  //-     color: #fff;
  //-     font-size: 20px;

  //-     background-color: #da0414;
  //-     border: none;

  //-     transition: all 0.3s ease;
  //-   }

  //-   .button:hover,
  //-   .button:focus {
  //-     background-color: #bb0815;
  //-   }

  //-   @media (max-aspect-ratio: 10/8) {
  //-     .header {
  //-       height: auto;
  //-     }

  //-     .header__title {
  //-       font-size: 55px;
  //-     }

  //-     .content {
  //-       padding: 0 0 30px;
  //-     }

  //-     h2 {
  //-       font-size: 45px;
  //-     }

  //-     h3 {
  //-       font-size: 36px;
  //-     }
  //-   }

  //-   @media (max-width: 780px) {
  //-     .container {
  //-       padding: 0 20px;
  //-     }

  //-     .header__logo {
  //-       display: none;
  //-     }

  //-     .header__promo {
  //-       width: 100%;
  //-       word-break: break-word;
  //-       text-align: center;
  //-     }
  //-   }
  header.header
    .container.header__container
      .header__promo
        h1.header__title Gulp сборка для продуктивной верстки 111
        em ver. 1.0.0
      img.header__logo(src="img/build-logo.svg", width="512", height="512", alt="Логотип сборки", loading="lazy")

block content
  section.main
    .main__container.container
      h1 Welcome

block footer
  footer.footer
    .footer__container
      small.copyright
        | &copy; copyleft


block scripts
  script.
    document.querySelector('.button').addEventListener('click', () => {
      window.scrollTo({
        top: document.querySelector('.header').clientHeight,
        behavior: 'smooth',
      })
    })
